<body>
    <section class="slide-in-fwd-center">
        <header>
            Sorting Visualizer
        </header>


        <div class="navcontainer">
            <div class="algos">
                <button *ngFor="let alg of algolist; let index=index"
                    [ngClass]="{'d1': 0 === index % 2,'d2': 1 === index % 2} " (click)="setAlgo(alg)"> {{alg}}</button>
            </div>
            <button (click)="randomArray()" class="button">Generate Random array!</button>
            <button class="button" (click)="startSort()">Start</button>
        </div>

        <div class="bar-container">
            <div *ngFor="let num of numberList; let index=index" class="bar" id="{{index}}"
                [ngStyle]="{'height.px': numberList[index], 'grid-column-start' : index+8}">
            </div>
        </div>


        <div class="dock"></div>
    </section>

</body>